<div class="container-fluid">
  <div class="row flex-nowrap">
<!--
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100">
              <span class="fs-5 d-none d-sm-inline text-danger h4">ISBN Management<hr/></span>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a routerLink="/asign" class="nav-link align-middle px-0">
                      <span class="d-sm-inline text-danger h6" >Asign ISBNs to a ProductLine</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/categories" class="nav-link px-0 align-middle">
                      <span class="ms-1 d-none d-sm-inline text-danger h6">ISDN Categories Management</span> </a>
                      
                  </li>
                  <li>
                      <a routerLink="/categories" class="nav-link px-0 align-middle">
                      <span class="d-sm-inline text-danger h6">Review ISBN Allocation</span></a>
                  </li>
                  <li>
                    <a routerLink="/categories" class="nav-link px-0 align-middle">
                         <span class="d-sm-inline text-danger h6">Review Unallocation ISBNs</span></a>
                  </li>
                  <li>
                      <a routerLink="/categories" class="nav-link px-0 align-middle">
                      <span class="d-sm-inline text-danger h6">SetUp a New ISBN Block</span> </a>
                  </li>
              </ul>
              
              
          </div>
      </div>
-->
      <div class="col py-3">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>